.questiongroup input[type="radio"],
.questiongroup input[type="checkbox"]
{
	display:none;
}

.questiongroup label
{
	text-align:left;
	width:90%;
	margin:auto;
	margin-bottom:-1px;
	display:block;
	padding:10px;
	cursor:pointer;
	border-radius:0;
}

.questiongroup input[type="radio"]:checked + label,
.questiongroup input[type="checkbox"]:checked + label
{
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.questiongroup div:first-of-type label
{
	border-radius:4px 4px 0 0;
}
.questiongroup div:last-of-type label
{
	border-radius:0 0 4px 4px;
}
.questiongroup input[type="checkbox"] + label span:before
{
	content: "\e157";
}
.questiongroup input[type="checkbox"]:checked + label span:before
{
	content: "\e067";
}
.questiongroup input[type="radio"]:checked + label span:before
{
	content:"\e029";
}

body.dragging, body.dragging *, .handle
{
	cursor: move !important;
}
.dragged
{
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

.rotate
{
	transform:rotate(90deg);
}

.rotate2
{
	transform:rotate(270deg);
}

.rotating
{
animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.vspace
{
	margin-bottom: 2px;
}
.vspace1
{
	margin-bottom: 5px;
}
.vspace2
{
	margin-bottom: 10px;
}
.vspace3
{
	margin-bottom: 20px;
}

.btnsizelink {
  display: inline-block;
  padding: 4px 5px;
  font-size: 13px;
  line-height: 1.5;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btnsizelink:hover,
.btnsizelink:focus,
.electedlink {
  color: #333;
  text-decoration: none;
}